body {
    background-color: #4b4b4b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.radio-box {
    background-color: #2c3e50;
    padding: 30px;
    border-radius: 10px;
    border: 5px solid #1a252f;
    box-shadow: 10px 10px 0px rgba(0,0,0,0.3);
    width: 400px;
    color: #ecf0f1;
}

h1 {
    text-align: center;
    border-bottom: 2px dashed #95a5a6;
    padding-bottom: 10px;
    margin-top: 0;
    color: #e74c3c; /* สีแดงเหมือนตราประทับลับ */
}

.screen {
    background-color: #000;
    padding: 20px;
    border-radius: 5px;
    border: 2px inset #555;
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 12px;
    color: #2ecc71; /* สีเขียว Terminal */
    margin-bottom: 5px;
}

input {
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid #2ecc71;
    color: #2ecc71;
    font-size: 18px;
    font-family: inherit;
    margin-bottom: 20px;
    outline: none;
    text-transform: uppercase; /* บังคับตัวใหญ่เสมอ */
}

.output {
    color: #f1c40f; /* สีเหลือง */
    font-size: 20px;
    word-break: break-all;
    min-height: 30px;
    letter-spacing: 2px;
}

.controls {
    display: flex;
    gap: 10px;
}

button {
    flex: 1;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-family: inherit;
    text-transform: uppercase;
    transition: 0.1s;
}

#translateBtn { background-color: #95a5a6; color: #2c3e50; }
#translateBtn:active { background-color: #7f8c8d; }

#playBtn { background-color: #e67e22; color: white; }
#playBtn:active { background-color: #d35400; }

.note {
    font-size: 10px;
    color: #7f8c8d;
    text-align: right;
    margin-top: 10px;
}