body {
    margin: 0;
    overflow: hidden; /* ห้ามเลื่อนหน้าจอ */
    background-color: #111;
    font-family: sans-serif;
}

canvas {
    display: block;
    cursor: crosshair; /* เปลี่ยนเมาส์เป็นรูปเป้าเล็ง */
}

.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    color: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
    z-index: 10; /* ให้อยู่บนสุดเสมอ */
}

.tool-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

button {
    background-color: #333;
    color: white;
    border: 1px solid #555;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;
}

button:hover {
    background-color: #555;
}

button.active {
    background-color: #00d2d3;
    color: black;
    font-weight: bold;
    box-shadow: 0 0 10px #00d2d3;
}

.save {
    background-color: #e056fd;
    border-color: #be2edd;
}

input[type="color"] {
    border: none;
    width: 40px;
    height: 30px;
    cursor: pointer;
    background: none;
}